.row {
  margin: 0px; }

[class*="col-"] {
  padding: 0px; }

.header {
  height: auto; }
  .header .logo, .header .center, .header .right {
    padding: 20px 0px 70px 0px; }
  .header .upperPart {
    margin-top: -3px;
    padding: 20px 0px; }
    .header .upperPart img {
      margin-left: -10px; }
    .header .upperPart .numbers, .header .upperPart .address {
      margin-top: 2px; }
      .header .upperPart .numbers a, .header .upperPart .address a {
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #434445; }
    .header .upperPart .phone, .header .upperPart .mappin {
      width: 50px;
      height: 50px;
      padding: 13px 15px;
      background: #E5E5E5;
      border-radius: 100%;
      text-decoration: none;
      font-size: 25px;
      color: #18AFD3; }
    .header .upperPart .mappin {
      padding-left: 17px; }
  .header .img {
    background-image: url("../images/backgrounds/background-06.jpg");
    background-position-x: -200px;
    height: 344px;
    position: relative; }
    .header .img h1 {
      position: absolute;
      font-size: 60px;
      color: white;
      top: 30%;
      left: 10%; }
    .header .img ul {
      position: absolute;
      top: 90%;
      left: 8%; }
      .header .img ul li {
        display: inline;
        margin-left: 20px;
        color: white; }
        .header .img ul li a {
          color: white; }
        .header .img ul li i {
          margin-left: 10px;
          color: white; }

.menu {
  position: absolute;
  top: 125px;
  width: 90%;
  margin-left: 5%;
  height: 60px;
  background-color: #18AFD3;
  border-radius: 5px; }
  .menu .searchmenuhead {
    position: absolute;
    display: none;
    height: 65px;
    width: 100%;
    float: left;
    margin-top: -17px;
    background-color: #18AFD3;
    border: none;
    border-color: #18AFD3; }
  .menu .fa-times {
    position: absolute;
    display: none;
    top: 15;
    left: 96%;
    color: white; }
  .menu .ekran {
    margin: 17px; }
    .menu .ekran .fa-search {
      position: absolute;
      top: 15;
      left: 96%;
      color: white; }
    .menu .ekran ul {
      height: 100%;
      width: 90%;
      float: left;
      margin-top: 8px; }
      .menu .ekran ul .gallery:hover {
        transition: 1s; }
        .menu .ekran ul .gallery:hover ul {
          display: block; }
      .menu .ekran ul .gallery ul {
        margin-top: 13px;
        margin-left: 63.5%;
        width: 200px;
        height: 280px;
        background-color: white;
        display: none; }
        .menu .ekran ul .gallery ul li {
          padding: 20px;
          margin-left: -20px;
          display: block; }
          .menu .ekran ul .gallery ul li:hover {
            background-color: white; }
            .menu .ekran ul .gallery ul li:hover a {
              margin-left: 20px;
              color: #F57E57; }
          .menu .ekran ul .gallery ul li:hover:before {
            content: '>';
            color: #F57E57; }
          .menu .ekran ul .gallery ul li a {
            font-size: 16px;
            color: #18AFD3; }
      .menu .ekran ul .blog:hover {
        transition: 1s; }
        .menu .ekran ul .blog:hover ul {
          display: block; }
      .menu .ekran ul .blog ul {
        margin-top: 13px;
        margin-left: 74%;
        width: 200px;
        height: 310px;
        background-color: white;
        display: none; }
        .menu .ekran ul .blog ul li {
          padding: 20px;
          margin-left: -20px;
          display: block; }
          .menu .ekran ul .blog ul li:hover {
            background-color: white; }
            .menu .ekran ul .blog ul li:hover a {
              margin-left: 20px;
              color: #F57E57; }
          .menu .ekran ul .blog ul li:hover:before {
            content: '>';
            color: #F57E57; }
          .menu .ekran ul .blog ul li a {
            font-size: 16px;
            color: #18AFD3; }
      .menu .ekran ul .pageli {
        background-color: #F57E57; }
      .menu .ekran ul li {
        margin-left: 0px;
        display: inline;
        padding: 28px 1% 16px 1%; }
        .menu .ekran ul li:hover {
          transition: 0.5s;
          background-color: #F57E57; }
        .menu .ekran ul li a {
          text-decoration: none;
          color: white;
          font-size: 16px; }
  .menu .page {
    display: none;
    margin-top: 3px;
    width: 100%;
    height: 400px;
    background-color: white; }
    .menu .page .col-md-12 .col-md-4 h3 {
      margin-left: 5%;
      line-height: 1; }
    .menu .page .col-md-12 .col-md-4 .line {
      width: 90%;
      margin-left: 5%;
      height: 1px;
      background-color: gray; }
      .menu .page .col-md-12 .col-md-4 .line div {
        float: left;
        width: 20%;
        height: 100%;
        background-color: red; }
    .menu .page .col-md-12 .col-md-4 ul {
      margin-left: 5%; }
      .menu .page .col-md-12 .col-md-4 ul li {
        width: 50%;
        color: #18AFD3;
        margin: 20px 0; }
        .menu .page .col-md-12 .col-md-4 ul li a {
          text-decoration: none; }
          .menu .page .col-md-12 .col-md-4 ul li a:hover {
            color: #F57E57;
            padding-left: 20px;
            transition: 0.2s; }
        .menu .page .col-md-12 .col-md-4 ul li:hover:before {
          content: '>';
          color: #F57E57;
          transition: 0.2s; }

.fixed {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  margin-left: 0; }
  .fixed .ekran {
    margin: 10px;
    margin-left: 5%; }
    .fixed .ekran ul {
      z-index: 1; }
      .fixed .ekran ul .gallery ul {
        margin-top: 20px;
        margin-left: 60%; }
      .fixed .ekran ul .blog ul {
        margin-top: 20px;
        margin-left: 70%; }
      .fixed .ekran ul li {
        padding: 28px 1% 23px 1%; }
  .fixed .searchmenuhead {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-top: -10px;
    display: none;
    border: none; }
  .fixed .fa-times {
    position: absolute;
    display: none;
    top: 15;
    left: 96%;
    color: white; }
  .fixed .page {
    margin-top: 10px;
    margin-left: 5%;
    width: 90%; }

.typography {
  margin: 0 7%; }
  .typography .col-md-12 {
    margin: 40px; }
    .typography .col-md-12 .rightmargin {
      margin-right: 32%; }
    .typography .col-md-12 h1 {
      font-size: 60px; }
    .typography .col-md-12 p {
      color: #a28686; }
    .typography .col-md-12 .word1 {
      margin-right: 35%; }
      .typography .col-md-12 .word1 .line {
        width: 95%;
        height: 1px;
        background-color: gray;
        margin: 10px 0; }
        .typography .col-md-12 .word1 .line div {
          float: left;
          width: 10%;
          height: 100%;
          background-color: red; }
      .typography .col-md-12 .word1 i {
        color: #18AFD3; }
      .typography .col-md-12 .word1 .col-md-10 h3 {
        color: #F57E57; }
      .typography .col-md-12 .word1 p {
        font-size: 20px; }
      .typography .col-md-12 .word1 .image {
        width: 80px;
        height: 80px; }
      .typography .col-md-12 .word1 img {
        border-radius: 50%;
        height: 100%;
        width: 100%; }
    .typography .col-md-12 .element {
      margin-right: 35%; }
      .typography .col-md-12 .element p {
        font-size: 16px; }
        .typography .col-md-12 .element p .graycolor {
          color: gray; }
        .typography .col-md-12 .element p mark {
          background-color: #18AFD3; }
        .typography .col-md-12 .element p span {
          font-style: italic; }
        .typography .col-md-12 .element p .linethrough {
          text-decoration: line-through; }
        .typography .col-md-12 .element p .underline {
          text-decoration: underline; }
      .typography .col-md-12 .element .line {
        width: 95%;
        height: 1px;
        background-color: gray;
        margin: 10px 0; }
        .typography .col-md-12 .element .line div {
          float: left;
          width: 10%;
          height: 100%;
          background-color: red; }
    .typography .col-md-12 .orunlist {
      margin-right: 35%; }
      .typography .col-md-12 .orunlist p {
        font-size: 16px; }
      .typography .col-md-12 .orunlist ul li {
        font-size: 16px;
        padding-left: 20px;
        padding-bottom: 5px;
        color: #a28686; }
        .typography .col-md-12 .orunlist ul li i {
          margin-right: 10px;
          color: #18AFD3; }
      .typography .col-md-12 .orunlist ol li {
        font-size: 16px;
        padding-bottom: 5px;
        color: #a28686; }
      .typography .col-md-12 .orunlist .line {
        width: 95%;
        height: 1px;
        background-color: gray;
        margin: 10px 0; }
        .typography .col-md-12 .orunlist .line div {
          float: left;
          width: 10%;
          height: 100%;
          background-color: red; }
  .typography .why {
    margin-top: 10px;
    margin-bottom: 20px; }
    .typography .why .thisss {
      margin: 0;
      width: 95%; }
    .typography .why .line {
      width: 95%;
      height: 1px;
      background-color: gray;
      margin: 10px 0; }
      .typography .why .line div {
        float: left;
        width: 10%;
        height: 100%;
        background-color: red; }
    .typography .why .icons .fa-mobile {
      margin-top: 12px;
      color: white;
      background-color: #F57E57;
      padding: 20px 38px;
      border-radius: 50%; }
    .typography .why .icons .fa-user-md {
      margin-top: 12px;
      color: white;
      background-color: #F57E57;
      padding: 20px 28px;
      border-radius: 50%; }
    .typography .why .icons .fa-ambulance {
      margin-top: 12px;
      color: white;
      background-color: #F57E57;
      padding: 20px 25px;
      border-radius: 50%; }
  .typography .image100 {
    margin-right: 35%; }
    .typography .image100 img {
      width: 95%;
      height: 400px; }
    .typography .image100 p {
      margin-right: 5%;
      padding: 15px 0; }
      .typography .image100 p .ital {
        font-style: italic; }
      .typography .image100 p span {
        color: gray; }
    .typography .image100 .line {
      width: 95%;
      height: 1px;
      background-color: gray;
      margin: 10px 0; }
      .typography .image100 .line div {
        float: left;
        width: 10%;
        height: 100%;
        background-color: red; }
  .typography .imageleft {
    margin-right: 35%; }
    .typography .imageleft .line {
      width: 100%;
      height: 1px;
      background-color: gray;
      margin: 10px 0;
      margin-bottom: 20px; }
      .typography .imageleft .line div {
        float: left;
        width: 10%;
        height: 100%;
        background-color: red; }
  .typography .imageright {
    margin-right: 35%; }
    .typography .imageright .line {
      width: 100%;
      height: 1px;
      background-color: gray;
      margin: 10px 0;
      margin-bottom: 20px; }
      .typography .imageright .line div {
        float: left;
        width: 10%;
        height: 100%;
        background-color: red; }

.footer {
  height: auto;
  width: 100%;
  background: #038EAF;
  color: white; }
  .footer .container {
    width: 82%; }
  .footer .middlepart, .footer .rightpart, .footer .logopart {
    padding: 50px 0px; }
  .footer .middlepart .contacts {
    padding: 0px;
    list-style: none; }
  .footer .middlepart li {
    height: auto; }
  .footer .middlepart i {
    width: 40px;
    padding: 5px 0px;
    color: #F57E57;
    font-size: 30px;
    padding-left: 5px; }
  .footer .middlepart a {
    color: white;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    padding: 10px 10px 10px 0px; }
  .footer .middlepart .email {
    color: #F57E57; }
  .footer .middlepart .fa-phone {
    padding-top: 20px; }
  .footer .middlepart .fa-envelope-o {
    padding-left: 0px; }
  .footer .rightpart .text {
    color: rgba(255, 255, 255, 0.5);
    padding-top: 30px;
    padding-bottom: 8px;
    line-height: 24px;
    font-size: 15px; }
  .footer .rightpart .form-inline .input-group {
    width: 250px;
    height: 80px;
    position: relative; }
    .footer .rightpart .form-inline .input-group input {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      float: left;
      z-index: 0; }
    .footer .rightpart .form-inline .input-group button {
      border-color: #F54B0F;
      background: #F54B0F;
      font-family: 'Oswald', sans-serif;
      position: absolute;
      left: 180px;
      top: 0px;
      float: left;
      background: #F57E57;
      color: white;
      text-transform: uppercase;
      height: 35px; }
      .footer .rightpart .form-inline .input-group button:hover {
        background-color: #18AFD3;
        border-color: #18AFD3; }
  .footer img {
    padding-left: 0px; }
  .footer .bottom {
    border-top: 1px solid #0788A7; }
  .footer .copyright {
    padding: 15px 0px;
    color: rgba(255, 255, 255, 0.5);
    text-align: left; }
  .footer .icons {
    float: left;
    margin: 0px;
    padding: 100px 0px 60px 0px; }
    .footer .icons li {
      text-align: center;
      list-style: none;
      display: inline; }
      .footer .icons li a {
        text-decoration: none;
        width: 40px;
        height: 40px;
        margin: 0px 5px;
        padding: 12px 0px;
        border-radius: 100%;
        background: white;
        color: #868686;
        font-size: 20px; }
        .footer .icons li a:hover {
          color: white;
          background: #F57E57; }
  .footer .head {
    border-bottom: 1px solid white;
    padding: 0px;
    position: relative;
    margin: 0px 50px 0px 0px; }
    .footer .head::after {
      content: '';
      width: 15%;
      height: 1px;
      border-bottom: 1px solid #F57E57;
      position: absolute;
      left: 0px;
      top: 100%; }
    .footer .head h2 {
      font-family: 'Oswald', sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      padding: 0px;
      padding-bottom: 10px;
      margin: 0px; }

/*# sourceMappingURL=topology.css.map */
