$main_color: #18AFD3;
$orange_: #F57E57;
$p-color: #868686; 



.row {
    margin: 0px;
}
[class*="col-"]{
    padding: 0px;
}



.header {
        height: auto;
        .logo, .center, .right {
            padding: 20px 0px 70px 0px;
        }
        .upperPart {
            margin-top: -3px;
            img{
                margin-left: -10px;
            }

        padding: 20px 0px;
          .numbers, .address {
              margin-top: 2px;
          a {
              font-weight: 400;
              font-size: 15px;
              line-height: 24px;
              color: #434445;
          }
          }
          .phone, .mappin {
            width: 50px;
            height: 50px;
            padding: 13px 15px;
            background: #E5E5E5;
            border-radius: 100%;
            text-decoration: none;
            font-size: 25px;
            color:$main_color;
        }
        .mappin {
            padding-left: 17px;
        }
    }
    .img {
        background-image: url('../images/backgrounds/background-06.jpg');
        background-position-x: -200px;
        height: 344px;
    }

}

.menu{
    position: absolute;
    top: 125px;
    width: 90%;
    margin-left: 5%;
    height: 60px;
    background-color: $main_color;
    border-radius: 5px;
    .searchmenuhead{
        position: absolute;
        display: none;
        height: 100%;
        width: 100%;
        float: left;
        margin-top: -15px;
        background-color: $main_color;
        border: none;
        border-color: $main_color;
    }
    .fa-times{
        position: absolute;
        display: none;
        top: 15;
        left: 96%;
        color: white;
    }
    .ekran{
        .fa-search{
        position: absolute;
        top: 15;
        left: 96%;
        color: white;
    }
      margin: 17px;
      ul {
        .pageli{
            background-color: $orange_;
        }
        height: 100%;
        width: 90%;
        float: left;
         margin-top: 8px;
        li{
        display: inline;
        padding: 28px 1% 16px 1%;
        &:hover{
            transition: 0.5s;
            background-color: $orange_;
        }
        a{
          text-decoration: none;
          color: white;
          font-size: 16px;
         }
      }
     }
    }
   .page{
    display: none;
    margin-top: 3px;
    width: 100%;
    height: 400px;
    background-color: white;
    .col-md-12{
        .col-md-4{
            h3{
                margin-left: 5%;
                line-height: 1;
            }
            .line{
                width: 90%;
                margin-left: 5%;
                height: 1px;
                background-color: gray;
                div{
                    float: left;
                    width: 20%;
                    height: 100%;
                    background-color:red;
                }
            }
            ul{
                margin-left: 5%;
                li{
                    width: 50%;
                    color: $main_color;
                    margin: 20px 0;
                    a{
                    text-decoration: none;
                    &:hover{
                    color: $orange_;
                    padding-left: 20px;
                    transition: 0.2s;
                   }
                   }

                   &:hover:before{
                    content: '>';
                    color: $orange_;
                    transition: 0.2s;
                   }
                }
            }
        }
    }  
   }
 }

 

.fixed{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    margin-left: 0;
    .ekran{
        ul{
        z-index: 1;
        li{
          padding: 28px 1% 23px 1%;  
        }
    }
      margin: 10px;
      margin-left: 5%;
    }
    .searchmenuhead{
        width: 90%;
        height: 100%;
      margin-left: 5%;
      display: none;
      border: none;
    }
    .fa-times{
        position: absolute;
        display: none;
        top: 15;
        left: 96%;
        color: white;
    }
    .page{
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
   }

}

.content {
    width: 100%;
    height: 500px;
    background: gray;
}










.footer {
    .container {
        width: 82%;
    }
    height: auto;
    width: 100%;
    background: #038EAF;
    color: white;
    .middlepart, .rightpart, .logopart {
    padding: 50px 0px;
    }
    .middlepart {
        .contacts {
            padding: 0px;
            list-style: none;
        }
        li {
            height: auto;
        }
        i {
            width: 40px;
            padding: 5px 0px;
            color:  $orange_;
            font-size: 30px;
            padding-left: 5px; 
        }
        a {
            color:  white;
            font-size: 15px;
            font-family: 'Lato', sans-serif;
            padding: 10px 10px 10px 0px;
        }
        .email {
            color: $orange_;
        }
        .fa-phone {
            padding-top: 20px;
        }
        .fa-envelope-o{
            padding-left: 0px;
    }

    }
        .rightpart {
        .text {
            color:rgba(255, 255, 255, 0.5);
            padding-top: 30px;
            padding-bottom: 8px;
            line-height: 24px;
            font-size: 15px;
        }
        .form-inline {
            .input-group {
                width: 250px;
                height: 80px;
                position: relative;
            input {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                float: left;
            }
            button {
                &:hover {
                    background-color: $main_color;
                    border-color: $main_color;
                }
                border-color: #F54B0F;
                background: #F54B0F;
                z-index: 2;
                font-family: 'Oswald', sans-serif;
                position: absolute;
                left: 180px;
                top: 0px;
                float: left;
                background: $orange_;
                color: white;
                text-transform: uppercase;
                height: 35px;
            }
            }
        }
    }

    img {
        padding-left: 0px;
    }
    .bottom {
        border-top: 1px solid #0788A7;
    }
    .copyright {
        padding: 15px 0px;
        color:rgba(255, 255, 255, 0.5);
        text-align: left;
    }
    .icons {
        float: left; 
        margin: 0px;
        padding: 100px 0px 60px 0px;
    li {
        text-align: center;
        list-style: none;
        display: inline;
        a {
        text-decoration: none;
        width: 40px;
        height: 40px;
        margin: 0px 5px;
        padding: 12px 0px;
        border-radius: 100%;
        background: white;
        color: #868686;
        font-size: 20px;
        &:hover {
         color: white;
         background: $orange_;    
        }
        }
    }
    }
    .head {
        border-bottom: 1px solid white;
        padding: 0px;
        position: relative;
        margin: 0px 50px 0px 0px;
        &::after {
            content: '';
            width: 15%;
            height: 1px;
            border-bottom: 1px solid $orange_;
            position: absolute;
            left: 0px;
            top: 100%;
        }
        h2 {
            font-family: 'Oswald', sans-serif;
            font-size: 18px;
            text-transform: uppercase;
            padding: 0px;
            padding-bottom: 10px;
            margin: 0px;
        }
    }
}